# Môi trường ảo Python
venv/
.venv/
env/
*.pyc
__pycache__/

# File chứa biến môi trường local
.env

# Thư mục cấu hình Streamlit chứa secrets local
.streamlit/secrets.toml

# File hệ điều hành
.DS_Store
Thumbs.db
config.yaml
